:root{
    --main-color: #0717ab;
}

*{
    margin: 0;
    padding: 0;

    
}

body{
    font-family: 'Roboto';
    background-color: #f5f6f7;
    min-height: 100vh;
    position: relative;
}
a{
    text-decoration: none;
}
 /* HEADER*/
header{
    background-color: #fff;
    width: 100%;
    height: 90px;
    box-shadow: 0 1px 4px 3px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo{
    width: 170px;
    margin-top: 10px;
    
}
#menu-opcoes_contato{
    display: inline-block;
    float: right;
    margin-top: 35px;

}
#menu-opcoes_contato ul{
    list-style-type: none;
}
#menu-opcoes_contato ul li{
    display: inline;
    padding: 20px 10px;
}
#menu-opcoes_contato ul li a{
    color: #000;
}
#menu-opcoes_contato ul li a:hover{
    color: var(--main-color);
    font-weight: bold;
}
/* MAIN */
.container{
    width: 1250px;
    margin: auto;
    white-space: nowrap;
}
main{
    padding-bottom: 200px;

}

.viagens{
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 230px;
    box-sizing: border-box;
    background-color: white;
}
.viagens:hover{
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.2);
}
.viagem_imagem{
   height: 230px;
   width: 40%;
   border-radius: 15px 0 0 15px;
   object-fit: cover;
    
}

.viagem_info{
    width: 60%;
    height: 230px;
    display: inline-block;
    vertical-align: top;
    padding-right: 40px;
    white-space: nowrap;
    box-sizing: border-box;
}
.beneficios{
    list-style-type: none;
    margin-top: 15px;
}
.beneficios li{
    margin-top: 5px;
}
.info-descricao, .info-precos{
    display: inline-block;
    width: 50%;

}
.info-precos{
    vertical-align: top;
    text-align: right;
}
.preco-antigo{
    margin-top: 15px;
    text-decoration: line-through;
    color: #ccc;
    font-size: 0.9em;
}
.preco-novo{
    margin-top: 3px;
    font-size: 1.5em;
}
.info-botao{
    text-align: right;

}
.button{
    padding:15px 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: -20px;
    cursor: pointer;
}
.button:hover{
background-color: green;
color: #fff;
}

.saibamais{
    text-align: left;
    padding-top: 1px ;
}
.saibamais button{
    padding:12px 7px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: -20px;
    cursor: pointer;
}
.saibamais .button:hover{
    background-color: var(--main-color);
    color: #fff;
}

/* FOOTER*/
footer{
    background-color: #fff;
    box-shadow: 0px 1px 4px 3px rgba(0,0,0, .2);
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--main-color);
}
.footer-logo{
    text-align: center;
}
.footer-logo img{
    padding-top: 30px;
    width: 250px;
}

/*PAGINAS DO SAIBAMAIS*/
.body-saibamais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
}
.box_saibamais{
    height: 80%;
    padding-bottom: 50px;
}
.info_saibamais{
   width: 60%;
   padding-left: 20%;
   text-align: center;
}
.visual_saibamais{
    width: 230px;
    padding-left: 35%;
}
.imagens_saibamais{
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slider input {
    display: none;
}
.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}